/* proprietary css file for customizing colors/spacings/font-sizes outside of bootstrap's scope */

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.smaller-text {
	font-size: small;
}
